<div class="donations-container">
  <div class="logo-and-herb">
    <h1 class="donations-header">Support Ukraine</h1>
    <img src="../img/Herb.png" alt="herb" width="20" height="32">
  </div>

  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list list-of-logos"></ul>
    </div>
  </section>
  <div class="btn-container-donations">
    <button type="button" class="scroll-button-donations">
      <img class="use-svg" src="../img/arrow-up.svg" alt="arrow up">
    </button>
  </div>
</div>