<div class="donations-container">
  <div class="logo-and-herb">
    <h1 class="donations-header">Support Ukraine</h1>
    <img src="./img/Herb.png" alt="herb" width="20" height="32">
  </div>

  <section class="splide">
    <div class="splide__track">
      <ul class="splide__list list-of-logos"></ul>
    </div>
  </section>
  <div class="btn-container-donations">
    <button type="button" class="scroll-button-donations">
      <svg class="use-svg" width="22" height="22">
        <use href="./img/arrow-up.svg"></use>
      </svg>
    </button>
  </div>
</div>