<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Support Ukraine</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../css/donation-block.css" />
    <style>
      @font-face {
        font-family: 'YourFontFamily';
        src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
          url('../fonts/DMSans-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div class="support-container">
      <h1>Support Ukraine</h1>
    </div>
    <div class="container">
      <ul class="charity-list">
        <!-- Charities will be dynamically generated here -->
      </ul>
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <!-- Include your SVG slider content here -->
          <!-- ... -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/donation-block.js"></script>
  </body>
</html>
