<!-- Book Card -->
<div class="book-card" id="bookCard">

    <h2>Book</h2>


</div>

<!-- Modal -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img src="" alt="Book Cover">
        <h2>Book Title</h2>
        <p>Author: John Doe</p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="buy-links">
            <a href="#" class="amazon-link">Amazon</a>
            <a href="#" class="apple-link">Apple Books</a>
        </div>
        <button class="add-to-list">Add to Shopping List</button>
    </div>
</div>