.modal-backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.4);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.no-scroll {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
    flex-shrink: 0;
    background: var(--DAIRY, #FCFCFC);
    padding: 40px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 18px;
}

.x-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    stroke-width: 1px;
    stroke: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 24px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-btn:hover {
    stroke: #4F2EE8;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.book-img-modal {
    border-radius: 8px;
    width: 287px;
    height: 408px;
}

.name-of-book {
    margin-bottom: 4px;
}

.modal-text-wrap{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.title-of-book {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 4px;
}

.author-of-book {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
}

.descr-of-book {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
}

.buy-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 44px;
}

.amazon-link {}

.amazon-link-img {
    width: 62px;
    height: 19px;
    filter: grayscale(100%);
    mix-blend-mode: luminosity;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.amazon-link-img:hover {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35))
}

.apple-link {}

.apple-link-img {
    width: 33px;
    height: 32px;
    mix-blend-mode: luminosity;
    filter: grayscale(100%);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apple-link-img:hover{
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .35))
}

.add-to-localSt{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--violet);
    border-radius: 40px;
    padding: 14px 28px;
    height: 46px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding: 14px 28px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-to-localSt:hover, .add-to-localSt:active {
    background-color:#4F2EE8;
    color: #ffffff;
}

@media screen and (min-width: 768px) {

    .modal{
        width: 579px;
        padding: 40px;
    }

    .modal-content{
        flex-direction: row;
        gap: 24px;
    }

    .book-img-modal {
        width: 192px;
        height: 281px;
        margin-bottom: 40px;
    }

    .modal-text-wrap {
        display: flex; 
        flex-direction: column;
        gap: 20px;
    }

    .title-of-book {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.04em;
        margin-bottom: 8px;
    }

    .author-of-book{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
    }

    .add-to-localSt{
        padding: 20px auto;
        width: 499px;
        height: 64px;
    }

    .x-btn{
        width: 28px;
        height: 28px;
        top: 24px;
        right: 24px;
    }
}