
  
  .book-card {
    border: 2px solid rgba(79, 46, 232, 0.4);
        border-radius: 16px;
        padding: 14px;
        width: 335px; 
        height: 170px;
        margin-bottom: 20px;
        position: relative;     
  }

  .cover {
    display: flex;
  }

  .buy-book {
    position: absolute;
    right: 14px;
    bottom: 2px;
    display: flex;
    align-items: center; 
  }

  .about {
    padding-left: 14px; 
  }

  .book-cover {
      max-width: 100%;
    border-radius: 8px;
        width: 100px;
        height: 142px;
  }

  h2.book-title {

    font-weight: 700;
        font-size: 16px;
        line-height: 1.125;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #111;
        padding-bottom: 4px;
        width: 144px;
        white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;         
  }

  .book-category {
    
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        color: #b4afaf;
        padding-bottom: 8px;
        width: 144px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
  }

.book-description {
   height: 68px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.04em;
        color: #111;
        overflow: hidden;
        display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          
}

p.book-author {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: -0.04em;
        color: #b4afaf;
        padding-top: 16px;
        width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
}

.btn-delete {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
}

.amazon {
width: 42px;
    height: 21px; 
    mix-blend-mode: luminosity;
}

.amazon:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
        mix-blend-mode: luminosity;
}

.ibook{
    mix-blend-mode: luminosity;
    width: 16px;
    height: 16px;
}

.ibook:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    mix-blend-mode: luminosity;
}


 .icon-trash {
    border-radius: 100%;
background-color: #4f2ee8;
width: 28px;
height: 28px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
top: 14px;
right: 14px;

} 

.trash {
    width: 16px;
    height: 16px; 
}

.container-shop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    padding: 40px 55px 0 20px;   
}

.title-shoplist {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.1875;
        letter-spacing: -0.04em;
        color: #111;
        margin-bottom: 40px;
}

.shop-span {
    color: rgb(79, 46, 232);
}

.text-cart {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        padding-left: 11px;
        padding-right: 11px;   
}

.content-cart {
    background-image: url(../img/shoplist-1x-mob.png);
        background-size: 265px 198px;
        background-repeat: no-repeat;
        background-position: center 14px;
        height: 198px;
        margin-top: 120px;
        margin-left: 35px;  
}

.container-main-shopping {
    display: flex;
    /* align-items: flex-start; */
    /* выравнивание элементов по верхнему краю */
}

.main-content {
    flex-grow: 1;
    /* устанавливаем ширину, чтобы основное содержимое занимало оставшееся пространство */
}

#donation-block {
    margin: 40px 24px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .content-cart {
        background-image: url(../img/shoplist-2x-mob.png);
    }
}

@media screen and (min-width: 375px) {
.container-main-shopping .donations-container {
    display: none;
}
}

@media screen and (min-width: 768px) {
.donations-container {
        display: block;
    }
    .content-cart {
        background-image: url(../img/shoplist-1x-tablet.png);
        background-size: 322px 241px;
        background-repeat: no-repeat;
        background-position: center 20px;
        height: 241px;
        margin-top: 140px;
        margin-left: 190px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .content-cart {
            background-image: url(../img/shoplist-2x-tablet.png);
        }
    }

        .container-shop {
            width: 100%;
            max-width: 768px;
            /* padding: 40px 209px 0 32px; */
        }

.text-cart {
    font-size: 18px;
    line-height: 1.33333;
}

.title-shoplist {
    font-size: 48px;
}

.book-card {
    padding: 24px;
    width: 704px;
    height: 213px;
}

.book-title {
    font-size: 16px;
    overflow: visible;
}

.book-cover {
    width: 116px;
    height: 165px;
}

.book-category {
overflow: visible;  
}

.book-description {
    height: 53px;
    width: 508px;
    padding-top: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

p.book-author {
    position: absolute;
    bottom: 24px;
    overflow: visible;
}

.about {
    padding-left: 24px;
}

.icon-trash {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.trash {
    width: 18px;
    height: 18px;
}

.amazon {
    width: 60px;
    height: 27px;
}


.ibook {
    width: 30px;
    height: 29px;
}

.buy-book {
    position: absolute;
    right: 24px;
    bottom: 10px;
}

}


@media screen and (min-width: 1440px) {

.container-main-shopping .donations-container {
        display: block;
    }

    .content-cart {
        background-image: url(../img/shoplist-1x-pc.png);
        background-size: 322px 241px;
        background-repeat: no-repeat;
        background-position: center 20px;
        height: 241px;
        margin-top: 140px;
        margin-left: 190px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .content-cart {
            background-image: url(../img/shoplist-2x-pc.png);
        }
    }

.container-shop {
    width: 100%;
    max-width: 1440px;
    /* padding: 40px 209px 0 32px; */
}

.text-cart {
    font-size: 18px;
    line-height: 1.33333;

}

.title-shoplist {
    font-size: 48px;
}

.book-card {
    padding: 24px;
    width: 996px;
    height: 213px;
    margin-bottom: 20px;
}

.book-title {
    font-size: 18px;
    overflow: visible;
}

.book-cover {
    width: 116px;
    height: 165px;
}

.book-category {
    overflow: visible;
}

.book-description {
    height: 53px;
    width: 808px;
    padding-top: 14px;
}

p.book-author {
    position: absolute;
    bottom: 24px;
    overflow: visible;
}

.about {
    padding-left: 24px;
}

.icon-trash {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 24px;
    right: 24px;
}

.trash {
    width: 18px;
    height: 18px;
}

.amazon {
    width: 60px;
    height: 27px;
}


.ibook {
    width: 30px;
    height: 29px;
}

.buy-book {
    position: absolute;
    right: 24px;
    bottom: 10px;
}

}