@import url('./reset.css');
@import url('./header.css');
@import url('./books-section.css');
@import url('./category-list.css');
@import url('./donation-block.css');
@import url('./modal.css');
@import url('./footer.css');
@import url('./shopping-list.css');
@import url('./visually-hidden.css');
@import url('./scroll-up.css');
@import url('./loader.css');
@import url('./loading.bar.css');

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Regular.woff2),
        url(../fonts/DMSans-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Italic.woff2),
        url(../fonts/DMSans-Italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Medium.woff2),
        url(../fonts/DMSans-Medium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Bold.woff2),
        url(../fonts/DMSans-Bold.woff);
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "DM-Sans", sans-serif;
    color: #111;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-main {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 335px;
    padding: 40px 20px 80px;
}

.container-main {
    display: flex;
}


@media screen and (min-width: 768px) {
    .container-main {
        width: 704px;
        padding: 40px 32px 100px;
    }
}

@media screen and (min-width: 1440px) {

    .container-main {
        width: 1440px;
        padding: 40px 24px 72px;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

:root {
    --bg-color-light: white;
    --text-color-light: rgb(17, 17, 17);
    --bg-color-dark: black;
    --text-color-dark: white;
    --hover-color-dark: rgb(234, 198, 69);
}

/* Добавьте стили для элементов в зависимости от выбранной темы */
.dark-theme {
    background-color: rgb(32, 32, 36);
    color: var(--text-color-dark);
}

.dark-theme h1,
.dark-theme h2 {
    color: white;
}


.dark-theme .category-btn {
    color: rgba(255, 255, 255, 0.6);
}

.dark-theme .category-btn:focus {
    color: var(--hover-color-dark);
}

.dark-theme button.category-btn.active {
    color: var(--hover-color-dark);
}

.dark-theme .text-cart {
    color: rgba(255, 255, 255, 0.6);
}

.dark-theme .books-bestsellers-btn {
    background-color: rgb(32, 32, 36);
    color: white;  
}


.dark-theme .books-bestsellers-btn:hover {
background-color: rgb(79, 46, 232);
color: white;
}

.dark-theme .x-btn {
    fill: white;
    stroke: white;
}

.dark-theme .modal {
    background-color: rgb(32, 32, 36);
    color: var(--text-color-dark);
}

.dark-theme button.add-to-localSt {
    color: white;
}

.dark-theme .amazon {
    fill: white;
}