@import url('./reset.css');
@import url('./header.css');
@import url('./books-section.css');
@import url('./category-list.css');
@import url('./donation-block.css');
@import url('./modal.css');
@import url('./footer.css');
@import url('./shopping-list.css');
@import url('./visually-hidden.css');
@import url('./scroll-up.css');
@import url('./loader.css');
@import url('./loading.bar.css');

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Regular.woff2),
        url(../fonts/DMSans-Regular.woff);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Italic.woff2),
        url(../fonts/DMSans-Italic.woff);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Medium.woff2),
        url(../fonts/DMSans-Medium.woff);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: DM-Sans;
    src: url(../fonts/DMSans-Bold.woff2),
        url(../fonts/DMSans-Bold.woff);
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: "DM-Sans", sans-serif;
    color: #111;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-main {
    display: flex;
    /* margin: 0 auto; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 335px;
    padding: 40px 20px 80px;
}

.container-main {
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .container-main {
        width: 704px;
        padding: 40px 0 100px;
    }

    .sidebar {
        flex-wrap: nowrap;
        gap: 32px;
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 1440px) {

    .container-main {
        width: 1440px;
        padding: 40px 24px 72px;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;
    }
    

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0px;
    }

}